<h1>Appointment Done</h1>

<link rel="stylesheet", href = "style.css">

<div>
    <label for="prison_id">Prison ID</label>
    <input type="prison_id" id="prison_id" name="prison_id" required>
  </div>
  
  <button type="submit">Submit</button>
  
  <a href="/doctor">Return Doctor Page</a>