<h1>Change Health Status</h1>

<link rel="stylesheet", href = "style.css">

<div>
    <label for="prison_id">Prison ID</label>
    <input type="prison_id" id="prison_id" name="prison_id" required>
  </div>

  <div>
    <label for="cDisease">Chronical Disease</label>
    <input type="cDisease" id="cDisease" name="cDisease" required>
  </div>

  <div>
      <label for="blood">Blood Type</label>
      <input type="blood" id="blood" name="blood" required>
  </div>

  <div>
      <label for="age">Age </label>
      <input type="age" id="age" name="age" required>
  </div>

  <div>
      <label for="disability">Disability Status </label>
      <input type="disability" id="disability" name="disability" required>
  </div>
  
  <button type="submit">Submit</button>
  
  <a href="/doctor">Return Doctor Page</a>