<h1>Login Officer</h1>

<link rel="stylesheet", href = "style.css">
<form action="/loginOff" method="POST">
  <div>
    <label for="id">ID -------</label>
    <input type="id" id="id" name="id" required>
    <p></p>
    <p></p>
  </div>
  <div>
    <label for="password">Password --</label>
    <input type="password" id="password" name="password" required>
    <p></p>

  </div>
  <button type="submit">Login</button>
</form>