<h1>Delete Prison</h1>

<link rel="stylesheet", href = "style.css">
<form action="/officer/prisonDelete" method="POST">
<p>
  <div>
    <label for="prison_id">Prison ID</label>
    <input type="prison_id" id="prison_id" name="prison_id" required>
  </div>
</p>

<p><button type="submit">Submit</button></p>
</form>
  <p>
    <a href="/officer">Return Officer Page</a>
  </p>
