<h1>Doctor</h1>
<link rel="stylesheet", href = "style.css">

<h4>Views:</h4>

<p><a href="/officer/seeAppointments">See All Appointments</a></p>

<p><a href="/officer/seeChronicalDiseases">See Chronical Diseases</a></p>


<h4>Methods ADD:</h4>

<p><a href="/officer/healthUpdate"> Updates Health Status</a></p>

<h4>Methods DELETE:</h4>

<p><a href="/officer/appointmentDelete">Delete Appointment</a></p>



<h4>Return:</h4>

<p><a href="/">Home Page</a></p>