<h1>DOCTOR PAGE</h1>

<h4>All views and needed methods for doctor is in this page.</h4>
<link rel="stylesheet", href = "style.css">


  <form action="/doctor" method="POST">


  </form>

  <a href="/changeHealthStatus">Change Health Status</a>
  <a href="/appointmentDone">Appointment Done</a>
  <a href="/seeAllChronicalDiseases">See All Chronical Diseases</a>

  <a href="/login">Return Login Page</a>
