<h1>Add Prison</h1>

<link rel="stylesheet", href = "style.css">
<form action="/officer/prisonAdd" method="POST">
<p>
  <div>
    <label for="prison_id">Prison ID</label>
    <input type="prison_id" id="prison_id" name="prison_id" required>
  </div>
</p>

<p>
    <div>
    <label for="ward_id">Ward ID</label>
    <input type="ward_id" id="ward_id" name="ward_id" required>
  </div>
</p>

<p>
    <div>
    <label for="tc">TC</label>
    <input type="tc" id="tc" name="tc" required>
  </div>
</p>

<p>
    <div>
        <label for="name">Name</label>
        <input type="name" id="name" name="name" required>
    </div>
</p>

<p>
    <div>
        <label for="birth_date">Birth Date </label>
        <input type="birth_date" id="birth_date" name="birth_date" required>
    </div>
</p>

<p>
    <div>
        <label for="country">Country </label>
        <input type="country" id="country" name="country" required>
    </div>
</p>

<p>
    <div>
        <label for="phone">Phone Number </label>
        <input type="phone" id="phone" name="phone" required>
    </div>
</p>

<p>
    <div>
        <label for="arrest_date"> Arrest Date </label>
        <input type="arrest_date" id="arrest_date" name="arrest_date" required>
    </div>
</p>

  
  <p><button type="submit">Submit</button></p>
</form>
  <p>
    <a href="/officer">Return Officer Page</a>
  </p>